body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1, h2, h3 {
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

ul, ol, #quote {
}


#face {
    margin-top: 35px;
    max-height: 200px;
    border: 2px solid black;
    margin-left: 8%;
    margin-right: 0;
}

.content {
    float: right;
    margin-right: 29%
}

.contact {
    text-align: center;
}

.references {

}
