body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1, h2, h3 {
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.references ul {
    padding-left: 42%;
}

#face {
    display: block;
    margin: auto;
    max-height: 200px;
    border: 2px solid black;
}

.content {
    background-color: moccasin;
    margin-top: 0;
    padding-top: 0;
    align-content: center;
}

.contact {
    text-align: center;
}
hr {
    border-color: rgba(0, 0, 0, 0.2);

}

.references {

}
