body {
    font-family: 'Roboto', sans-serif;
   background-color: #a1a2a3;
}

h1, h2, h3 {
    color: white;
    background-color: black;
}

ul, ol, #quote {
    background-color: cornsilk;
}



#face {
    margin-top: 21px;
    max-height: 200px;
    border: 1px solid white;
}

.content {
    float: left;
    padding-right: 20px;
}
